@font-face {
  font-family: 'nanosteam';
  src: url('../font/fontello.eot');
  src: url('../font/fontello.eot#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2') format('woff2'),
       url('../font/fontello.woff') format('woff'),
       url('../font/fontello.ttf') format('truetype'),
       url('../font/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?64979897#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "nanosteam";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-digital-arts:before { content: '\e800'; } /* '' */
.icon-comic-design:before { content: '\e801'; } /* '' */
.icon-arrow-right:before { content: '\e802'; } /* '' */
.icon-anthropology:before { content: '\e80a'; } /* '' */
.icon-architecture:before { content: '\e80b'; } /* '' */
.icon-art-design:before { content: '\e80c'; } /* '' */
.icon-biology:before { content: '\e80d'; } /* '' */
.icon-biophysics:before { content: '\e80e'; } /* '' */
.icon-chemistry:before { content: '\e80f'; } /* '' */
.icon-comic-arts:before { content: '\e810'; } /* '' */
.icon-computer-science:before { content: '\e812'; } /* '' */
.icon-data-science:before { content: '\e813'; } /* '' */
.icon-physics:before { content: '\e814'; } /* '' */
.icon-political-science:before { content: '\e815'; } /* '' */
.icon-psychology:before { content: '\e816'; } /* '' */
.icon-social-good:before { content: '\e817'; } /* '' */
.icon-social-science:before { content: '\e818'; } /* '' */
.icon-technology:before { content: '\e819'; } /* '' */
.icon-earth-science:before { content: '\e81a'; } /* '' */
.icon-ecology:before { content: '\e81b'; } /* '' */
.icon-education:before { content: '\e81c'; } /* '' */
.icon-engineering:before { content: '\e81d'; } /* '' */
.icon-material-science:before { content: '\e81e'; } /* '' */
.icon-mathematics:before { content: '\e81f'; } /* '' */
.icon-medicine:before { content: '\e820'; } /* '' */
.icon-palaeontology:before { content: '\e821'; } /* '' */
.icon-neuroscience:before { content: '\e822'; } /* '' */