
.icon-digital-arts:before { content: '\e800'; } /* '' */
.icon-comic-design:before { content: '\e801'; } /* '' */
.icon-arrow-right:before { content: '\e802'; } /* '' */
.icon-anthropology:before { content: '\e80a'; } /* '' */
.icon-architecture:before { content: '\e80b'; } /* '' */
.icon-art-design:before { content: '\e80c'; } /* '' */
.icon-biology:before { content: '\e80d'; } /* '' */
.icon-biophysics:before { content: '\e80e'; } /* '' */
.icon-chemistry:before { content: '\e80f'; } /* '' */
.icon-comic-arts:before { content: '\e810'; } /* '' */
.icon-computer-science:before { content: '\e812'; } /* '' */
.icon-data-science:before { content: '\e813'; } /* '' */
.icon-physics:before { content: '\e814'; } /* '' */
.icon-political-science:before { content: '\e815'; } /* '' */
.icon-psychology:before { content: '\e816'; } /* '' */
.icon-social-good:before { content: '\e817'; } /* '' */
.icon-social-science:before { content: '\e818'; } /* '' */
.icon-technology:before { content: '\e819'; } /* '' */
.icon-earth-science:before { content: '\e81a'; } /* '' */
.icon-ecology:before { content: '\e81b'; } /* '' */
.icon-education:before { content: '\e81c'; } /* '' */
.icon-engineering:before { content: '\e81d'; } /* '' */
.icon-material-science:before { content: '\e81e'; } /* '' */
.icon-mathematics:before { content: '\e81f'; } /* '' */
.icon-medicine:before { content: '\e820'; } /* '' */
.icon-palaeontology:before { content: '\e821'; } /* '' */
.icon-neuroscience:before { content: '\e822'; } /* '' */