// Temp for testing

.form-control {
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}

.custom-file-label {
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  &::after {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
  }
}

.input-group-append, .input-group-prepend {
  .input-group-text {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
  }
}

// Navbar

.navbar-brand.logo, li.dashboard {
  text-indent: -9999px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  transition: $transition-base;
}

li.dashboard {
  background-position: center center;
  div {
    text-indent: 0px;
  }
}

.navbar-brand.logo {
  display: block;
  transition: $transition-base;
}

.navbar-brand.logo {
  width: 200px;
  height:40px;
  &:hover {
    opacity: .8;
  }
}

.dashboard > a {
  width: 35px;
  &:before {
    background-color: transparent !important;
  }
}

.navbar-nav li {
  font-size: $font-size-sm;

  .dropdown-menu {
    left: auto;
    right: 0;
  }
}

.navbar {
  z-index: $zindex-fixed;
}

.project_section {
  font-weight: bold;
}

//Modal
.modal-center {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}

//Forms

.small .custom-control-label {
  &::before, &::after {
    top: 0.15rem;
  }
}

textarea.js-auto-size {
  //Firefox fix

  overflow: hidden;
  min-height: 41px;
}

.modal .form-control-feedback {
  @include clearfix;
  @extend .pb-2;

}

.zindex-fixed {
  z-index: $zindex-fixed - 1;
}

//Sticky Margin Top

.supportbtn-margin-top, .stick-margin-top{
  @include media-breakpoint-up(sm) {
    top: 100px;
  }
  @include media-breakpoint-up(xs) {
    top: 112px;
  }
}

//Buttons
.btn-primary {
  @extend .text-white;
}

// Main Content Wrapper Styling
.wrapper {
  background: $white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding-left: 0;
  padding-right: 0;
}

//Category Shortcode
.hero_cat {
  @include clearfix;
  border-radius: 100%;
  border: 2px solid;
  display: inline-block;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  line-height:100px;
}
#categoryButtons {
  span {
    position: relative;
    bottom: .4em;
  }
  .justify-content-md-center {
    .btn-sm {
      font-size: 1rem;
    }
    strong {
      font-weight: bold;
    }
  }

}

// Input spinner
.spinner {
  background-color: #ffffff;
  background-image: url("/wp-content/themes/nanosteam_child/images/preloader-f7.gif");
  background-size: 20px 20px;
  background-position:left 50px center;
  background-repeat: no-repeat;
}

//Revolution slider custom fixed
.tp-revslider-mainul {
  padding: 0px;
  >li {
    position: relative;
  }
}

//Captcha Risizing on mobile checkout

//Captcha Resizing
.nano_instant_checkout {
  #captcha2 {
    transform: scale(0.89);
    transform-origin: 0 0;
  }
}


//croppie adjustments
.cr-slider-wrap {
  @extend .col-5;
}


// Font Customizations
h1, h2, h3, h4, h5, h6 {
  .heading-light, &.heading-light {
    font-family: $font-family-base;
    font-weight: 300;
  }
  .heading-normal, &.heading-normal {
    font-family: $font-family-base;
    font-weight: normal;
  }
}

.wp-block-nanosteam-accordion {
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold !important;
    .heading-light, &.heading-light {
      font-weight: 300 !important;
    }
  }
  .h1 {
    font-size: $h1-font-size !important;
  }
  .h2 {
    font-size: $h2-font-size !important;
  }
  .h3 {
    font-size: $h3-font-size !important;
  }
  .h4 {
    font-size: $h4-font-size !important;
  }
  .h5 {
    font-size: $h5-font-size !important;
  }
  .h6 {
    font-size: $h6-font-size !important;
  }
}

.nano-all-caps {
  text-transform: uppercase;
}

// Fixing potential word wrapping issues with super long non-breaking strings
.md-projects-list, .md-profile {
  .title a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
  }
}

#valerrors .fv-help-block {
  color: $gray-800;
}

.project-details .title {
  overflow-wrap: break-word;
  word-wrap: break-word; //word-break: break-all;
  hyphens: auto;
}

#projectContent .wp-editor-wrap {
  width: 100%;
}

// Help Icon
.help {
  @extend .ml-2;
  .fa {
    font-size: .9rem;
    color: $gray-400;
  }
}

.link-primary {
  color: $link-color;
}

.log-forms {
  .btn-primary, .btn-secondary {
    font-weight: bold;
  }
}

//Links
.small a, small a {
  color: #fc9c19;
  &:hover {
    color: darken(#fc9c19, 10%);
  }
}

.nav-pills .btn {
  border-top-width: 0px;
  border-bottom-width: 2px !important;
  border-left-width: 0px;
  border-right-width: 0px;
  &:focus {
    box-shadow: none;
    background-color: transparent;
  }
  &.active {
    background-color: transparent;
    color: $primary;
    border-bottom-color: $primary;
  }
}

.ign-supportnow {
  z-index: 1000;
}

// Custom Button Positioning
.btn-preview {
  position: absolute;
  bottom: .5em;
  right: 1em;
}

// Milestones
.nano-milestones{
  list-style: none;
  position: relative;
  .nano-date {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: $primary;
      top: 0px;
      left: 1px;
    }
  }
  .nano-date {
    &::after {
      position: absolute;
      content: '';
      border-left: 2px solid $primary;
      left: 10px;
      top: 0;
      bottom: 0;
      padding: 20px;
    }
  }
  .nano-date-last {
    &::after {
      position: absolute;
      content: '';
      border-left: 0px solid $primary;
      left: 10px;
      top: 0;
      bottom: 0;
      padding: 20px;
    }
  }
  .nano-date {
    padding-left: 30px;
    line-height: 1.5;
  }
  .nano-goal {
    line-height: 1.5;
  }
}

.video-container-box {
  width: 100%;
  padding-top: 53.5%;
  overflow: hidden;
  position: relative;

  .video-img {
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
  }

  .video-link {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}

.single-ignition_product * {
  overflow-wrap: break-word;
}

.nano-goal, .media-body, .modal-title, #paymentHistory .title-name * {
  overflow-wrap: break-word;
  word-wrap: break-word; //word-break: break-all;
  hyphens: auto;
}

// Cards
.nano-style {

  .card-link {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }

  .media.border {

    .video-container-box {

      @include media-breakpoint-up(sm) {
        width: 100%;
        padding-top: 53%;
      }
      @include media-breakpoint-up(xs) {
        width: 50px;
        padding-top: 8%;
      }

    }

  }

  .card {
    border: 1px solid rgba(0,0,0,.075);
    box-shadow: 0px 0px 30px rgba($black, 0.1);
    transition: box-shadow ease 500ms;
    line-height: 1.16rem;
    overflow-wrap: break-word;
    .emu-img-hover {
      background-position: center center;
      background-size: cover;
    }
    img, .emu-img-hover {
      transition: opacity ease 500ms;
    }
    &:hover {
      box-shadow: 0px 0px 30px rgba($black, 0.2);
      img, .emu-img-hover {
        opacity: 0.8;
      }
    }
    h1, h2, h3, h4, h5, h6 {
      text-transform: uppercase;
      font-weight: normal;
      line-height: 1.16rem;
      min-height: 2.32rem;
    }

    .card-text {
      //height: 6.5em;
    }

    .card-footer {
      border-top-width: 0px;
    }

  }
}

// Carousel
@include media-breakpoint-up(sm) {
  .neg-mg-prev {
    right: 100%;
    left:auto;
    overflow: hidden;
  }
  .neg-mg-next {
    left: 100%;
    right: auto;
    overflow: hidden;
  }
}

// Hero
.nano_hero {
  @include clearfix;
  position: absolute;
  left:0;
  width:100%;
}

.object_fitt {
  object-position: 50% 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}



.carousel {
  h1.display-4 {
    font-size: 1.3rem;
  }
  .lead, .strong {
    font-size: .9rem;
  }
}

@include media-breakpoint-up(sm) {
  .carousel {
    h1.display-4 {
      font-size: 1.4rem;
    }
    .lead, .strong {
      font-size: 1rem;
    }
  }
}

@include media-breakpoint-up(md) {

  .carousel {
    h1.display-4 {
      font-size: 1.7rem;
    }
    .lead, .strong {
      font-size: 1.2rem;
    }
  }

}



// Budget Pie Chart

ul[data-pie-id] {
  list-style: none;
  padding: 0;

  li {
    cursor: default;
    &:nth-child(0) {
      color: $yellow;
    }
    &:nth-child(1) {
      color: $orange;
    }
    &:nth-child(2) {
      color: $green;
    }
    &:nth-child(3) {
      color: $teal;
    }
    &:nth-child(4) {
      color: $cyan;
    }
    &:nth-child(5) {
      color: $blue;
    }
    &:nth-child(6) {
      color: $indigo;
    }
    &:nth-child(7) {
      color: $purple;
    }
    &:nth-child(8) {
      color: $pink;
    }
    &:nth-child(9) {
      color: $red;
    }
  }
}


// Printing Receipt

@media print {
  .printNone * {
    visibility: hidden;
    .md-box-wrapper,
    .navbar {
      display: none;
    }
    &.modal-footer, button {
      display: none;
    }
  }
  .printSection, .printSection * {
    visibility:visible;
  }
  .printSection {
    position:fixed;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
  }

}

//Responsive Breakpoint specifics


@include media-breakpoint-up(lg) {
  .navbar-brand.logo {
    width: 300px;
  }
  .navbar-expand-md .navbar-nav li {
      padding-left: $spacer;
      padding-right: $spacer;
  }
}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {
  .btn {
    padding-left: 3rem ;
    padding-right: 3rem;
  }


}

@include media-breakpoint-up(xl) {
  .wrapper {
    margin: auto;
    position: relative;
    //max-width: (map-get($container-max-widths, xl) + 460);
    max-width: 100%;
  }
}

.bg-sm-white {
  @include media-breakpoint-up(sm) {
    background-color: transparent;
  }
  @include media-breakpoint-up(xs) {
    background-color: #ffffff;
  }
}

@include media-breakpoint-down(sm) {
  .media img {
    width: 50px;
  }
}

// Iphone adjustments for disabling the autozoom on the form fields
/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

//Overriding IDK

.payment-errors {

}

.error-info {
  @extend .small;
  @extend .text-danger;
}

.nano-project-image, .nano-upload {
  .custom-file {
    @extend .col-12;
  }
  input[type="file"] {
    @extend .custom-file-input;
  }
  .image_swap {
    @extend .d-block;
    @extend .row;
    @extend .pt-5;
  }
  .image_url {
    display: none;
  }
}

.nano-team-leader-image.nano-upload {
  .image_swap {
    img {
      @extend .rounded-circle;
    }
  }
}

.project_image {
  @extend .img-fluid;
}

.page-template-template_checkout {
  .mfp-wrap, .idc_lightbox {
    @extend .d-none;
  }
}

footer .span3 {
  @extend .col-sm;
}

// Checkout Form


// Checkboxes
//
// Tweak just a few things for checkboxes.

#payment-form .form-row.checklist {
  position: relative;
  display: block;
  min-height: (1rem * $line-height-base);
  padding-left: $custom-control-gutter;
  margin-left: 5px;


  label::before {
    @include border-radius($custom-checkbox-indicator-border-radius);
  }

  label {
    margin-bottom: 0;

    // Background-color and (when enabled) gradient
    &::before {
      position: absolute;
      top: (($line-height-base - $custom-control-indicator-size) / 2);
      left: 0;
      display: block;
      width: $custom-control-indicator-size;
      height: $custom-control-indicator-size;
      pointer-events: none;
      content: "";
      user-select: none;
      background-color: $custom-control-indicator-bg;
      @include box-shadow($custom-control-indicator-box-shadow);
    }

    // Foreground (icon)
    &::after {
      position: absolute;
      top: (($line-height-base - $custom-control-indicator-size) / 2);
      left: 0;
      display: block;
      width: $custom-control-indicator-size;
      height: $custom-control-indicator-size;
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      background-size: $custom-control-indicator-bg-size;
    }
  }

  input {
    position: absolute;
    z-index: -1; // Put the input behind the label so it doesn't overlay text
    opacity: 0;

    &:checked ~ label::before {
      color: $custom-control-indicator-checked-color;
      @include gradient-bg($custom-control-indicator-checked-bg);
      @include box-shadow($custom-control-indicator-checked-box-shadow);
    }

    &:focus ~ label::before {
      // the mixin is not used here to make sure there is feedback
      box-shadow: $custom-control-indicator-focus-box-shadow;
    }

    &:active ~ label::before {
      color: $custom-control-indicator-active-color;
      background-color: $custom-control-indicator-active-bg;
      @include box-shadow($custom-control-indicator-active-box-shadow);
    }

    &:disabled {
      ~ label {
        color: $custom-control-label-disabled-color;

        &::before {
          background-color: $custom-control-indicator-disabled-bg;
        }
      }
    }
  }

  input:checked ~ label {
    &::before {
      @include gradient-bg($custom-control-indicator-checked-bg);
    }
    &::after {
      background-image: $custom-checkbox-indicator-icon-checked;
    }
  }

  input:indeterminate ~ label {
    &::before {
      @include gradient-bg($custom-checkbox-indicator-indeterminate-bg);
      @include box-shadow($custom-checkbox-indicator-indeterminate-box-shadow);
    }
    &::after {
      background-image: $custom-checkbox-indicator-icon-indeterminate;
    }
  }

  input:disabled {
    &:checked ~ label::before {
      background-color: $custom-control-indicator-checked-disabled-bg;
    }
    &:indeterminate ~ label::before {
      background-color: $custom-control-indicator-checked-disabled-bg;
    }
  }
}

.memberdeck.checkout-wrapper {

  .checkout-wrapper {
    @extend .pt-5;
    .tooltip-text {
      @extend .pb-5;
    }
  }

  .finaldesc {
    @extend .fadein;
    margin-bottom: 1rem;
  }

  .checkout-tooltip {
    @extend .help;
  }

  .payment-type-selector {
    div {
      @extend .d-inline-block;
    }
    a {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-outline-primary;
      @extend .mr-2;
    }
  }

  #loginform {
    @extend .fadein;
    @extend .form-row;
    @extend .form-group;
    p {
      @extend .col-sm;
      &.login-username, &.login-password {
        @extend .col-sm-6;
        input {
          @extend .form-control;
        }
      }
      &.login-remember {
        @extend .form-check;
        label {
          @extend .form-check-label;
          input {
            @extend .form-check-input;
          }
        }
      }
      #wp-submit {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-sm;
      }
    }
  }

  #stripe-input {
    img {
      @extend .img-fluid;
      max-height: 25px;
    }
  }

}

#resetpassform {
  #pass1 {
  }
  #pass2 {
    display: none;
  }

  .show {
    #pass1 {
      display: none;
    }
    #pass2 {
      display: block;
    }
  }
}


#idc_checkout_extra_fields_anon {
  @extend .col-12;
  .form-row {
    margin: 0;
  }
  .checklist {
    @extend .ml-auto;
    @extend .custom-control;
    @extend .custom-checkbox;
    input {
      @extend .custom-control-input;
    }
    label {
      @extend .custom-control-label;
    }
  }
  .form-row.text {
    @extend .d-none;
  }
}
