// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  //box-shadow: 0px 0px 20px rgba($gray-900, .3);
  //font-weight: $headings-font-weight;
  .nav-item {
    > a {
      position: relative;
      transition: $transition-base;
      &:before {
        position: absolute;
        top: 100%;
        margin-top: -2px;
        left: 0;
        width: 100%;
        height: 3px;
        background: $primary;
        content: '';
        opacity: 0;
        transition: $transition-base;
        transform: translateY(10px);
      }
      &:hover {
        &:before {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
    &.active {
      > a {
        &:before {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }

}