@font-face {
    font-family: 'Lato';
    src: url("fonts/Lato-Regular.woff2") format("woff2");
    src: url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }

body {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.62;
    color: #171c20;  }