/*

 Theme Name:   NanoSTEAM
 Theme URI:    http://nanosteam.com/
 Description:  Backer Child Theme
 Author:       James Roy
 Author URI:   https://www.toptal.com/resume/james-roy
 Template:     backer
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, responsive-layout
 Text Domain:  nanosteam

*/


@import "scss/custom_imports";

//@import "library/scss/_ignition_deck_styles.scss";





/*------------------------ Primary Brand Colors
--------------------------------------------------------------*/
$brand-primary:   theme-color("primary");
$brand-secondary: theme-color("secondary");


/*------------------------
 * Importing Styles from Parent Theme override !important set styles.
 * Should be replaced whenever the theme is updated.
--------------------------------------------------------------*/

// Backer Theme Style located here:
// wp-content/themes/backer/style.css
// Removed all !important tags.
// Replace all #F75146 with $brand-secondary



$white:  #fff !default;
$black:  #000 !default;



/*------------------------ Category Brand Colors
--------------------------------------------------------------*/

// Color

.color-white {
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.brand-primary             { color: $brand-primary }
.brand-secondary           { color: $brand-secondary }



/*------------------------ Animations
--------------------------------------------------------------*/

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeOutFrom {
  0% {
    display: block;
    opacity: 1;
  }

  99% {
    display: block;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}


#fes.paginate, .fes_section.current, .notification, .fadein {
  animation: fadeInFromNone 0.5s ease-out;
}
.fadeout {
  animation: fadeOutFrom 0.5s ease-out;
}

//
// Alternate transitions
//

.carousel-fade {
  .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
  }

  .carousel-item.active,
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    opacity: 1;
  }

  .active.carousel-item-left,
  .active.carousel-item-right {
    opacity: 0;
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active,
  .active.carousel-item-left,
  .active.carousel-item-prev {
    transform: translateX(0);

    @supports (transform-style: preserve-3d) {
      transform: translate3d(0, 0, 0);
    }
  }
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/*------------------------ Nano Categories Shortcode
--------------------------------------------------------------*/

.nano-categories {

  &.krown-column-row {
    margin-bottom: 10px;
  }

  .span-categories {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .krown-button {
    width:100%;
    font-weight: 300;
    padding: 13px 0px;
    letter-spacing: .05em;

    &.active {
      background: #F75146;
      color: #fff !important;
    }
  }

}

/*------------------------ Project Profile Pages
--------------------------------------------------------------*/

.new_nano_backer_item, .punct, .nano-hidden {
  display: none;

}

.id-product-infobox {
  .id-product-levels {
    display: none;
  }
}

#project-p-author {
  text-align: center;
}

.nano-avatar {
  padding-top: 20px;
  img {
    border-radius: 50%;
  }
}

.share-buttons, .ign-supportnow {
  padding-top: .25rem;
}

.nano-content {
  text-align: center;
  padding-top: 20px;
  .nano-meta {
    list-style: none;
    font-size: 13px;
    padding-top: 20px;

  }
}

.titles {
  h5 {
    text-align: center;
  }
  i {
    display: block;
    margin-bottom: 5px;
  }
}



.nano-team {
  img {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
  }
}

//Tabs

#project-container.nano-tabs .titles, #content .memberdeck .dashboardmenu {
  margin-top: 5px;
}

.nano-myaccount-tabs {
  margin-bottom: 40px;
}

.nano-tabs .titles, #content .memberdeck .dashboardmenu, .nano-myaccount-tabs .titles {
  border-color: #d0d0d0;
  height: 57px;
  li {
    border-color: #d0d0d0;
    height: 57px;
  }
}

.nano-tabs .titles li h5, #content .memberdeck .dashboardmenu li a, .nano-myaccount-tabs h5 a {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  padding: 2px 40px 0 !important;
  text-transform: uppercase;
}

.nano-tabs .titles li h5 a, #content .memberdeck .dashboardmenu li a, .nano-myaccount-tabs a {
  color: #000;
  text-transform: uppercase;
}

.no-touch {
  .nano-tabs .titles li h5, .nano-myaccount-tabs li h5 {
    background: #fcfcfc;
    transition: background .3s ease;
  }
  .nano-tabs .titles li h5:hover, #content .memberdeck .dashboardmenu li a:hover, .nano-tabs .titles li.opened h5, .nano-myaccount-tabs h5:hover, .nano-myaccount-tabs li.active h5 {
    background: #ececec;
  }
  .nano-tabs-tabs .titles li h5:hover a, #content .memberdeck .dashboardmenu li a:hover, .nano-myaccount-tabs h5:hover a {
    color: $brand-primary;
  }
}

.nano-tabs .titles li.opened, #content .memberdeck .dashboardmenu li.active, .nano-myaccount-tabs li.active {
  cursor: default;
}

.nano-tabs .titles li.opened h5, #content .memberdeck .dashboardmenu li.active a, .nano-myaccount-tabs li.active h5 {
  border-top-color: #000;
  font-weight: 700;
  pointer-events: none;
  color: #000 !important;
}

#project-container.nano-tabs .contents {
  margin: 40px 0 0;
  padding: 0 0 80px;
  width: 74.1%;
  background: #fff;
  float: left;
}

.nano-tabs .titles, .memberdeck .dashboardmenu, .nano-myaccount-tabs .titles {
  //border-bottom: 1px solid #d0d0d0;
  margin-bottom: 0;
}

.nano-tabs .titles li, .memberdeck .dashboardmenu li, .nano-myaccount-tabs li {
  float: left;
  display: table;
  padding: 0;
  //border: 1px solid #d0d0d0;
  margin: 0 -1px -1px 0;
  height: 57px;
  cursor: pointer;
  position: relative;

}

.nano-tabs .titles h5, .memberdeck .dashboardmenu li a, .nano-myaccount-tabs h5 a {
  margin: auto;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #212121;
  line-height: 12px;
  padding: 2px 40px 0 !important;
  display: table-cell;
  //border-top: 1px solid transparent;
  text-transform: uppercase;
  vertical-align: middle;
}

.nano-myaccount-tabs h5 a {
  display: block;
  line-height:57px;
}

.no-touch .nano-tabs .titles li:hover h5, .nano-tabs .titles .opened h5, .no-touch .memberdeck .dashboardmenu li:hover a, .memberdeck .dashboardmenu li.active a, .nano-myaccount-tabs .active a {
  color: $brand-primary;
}

.nano-myaccount-tabs li.active h5 {
  background: #ececec;
}

.nano-tabs .titles .opened h5, .memberdeck .dashboardmenu li.active a, .nano-myaccount-tabs .active h5 {
  font-weight: 700;
}

.nano-tabs {
  .contents {
    min-height: 200px;
    padding: 50px 0;
    > div {
      display: none;
      &.opened {
        display: block;
      }
    }
  }
  &.horizontal .titles .opened {
    //border: #F75146;
    //border-bottom-color: #fff !important;
  }
  &.vertical .contents {
    float: right;
    width: 73%;
    padding: 0;
  }
}


/*------------------------ Image Cropping
--------------------------------------------------------------*/

.nano-upload {

  .cr-slider {
    border: 0px solid !important;
  }

  > .croppie-container {

    height: auto;

    @extend .d-table;

    &.hidden_crop {
      display: none !important;
    }
  }

  .hidden_crop {
    position: absolute;
    z-index: -100;
    height: 100%;
    width: 100%;
  }

  .upload-msg {
    border: 1px solid #eee;
    height: 300px;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    display: table-cell;
    cursor: pointer;
  }
  .nano-upload-wrap {
    display: none;
    width: 100%;
    height: 300px;
  }
  .upload-result{
    display: none;
  }
  &.ready {
    .nano-upload-wrap {
      display: block;
    }
    .upload-msg, .croppie-container.message_holder {
      display: none !important;
    }
    .upload-result {
      display: inherit;
    }
  }
}

/*! nouislider - 10.0.0 - 2017-05-28 14:52:48 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

.noUi-target {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}

.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-origin {
  position: absolute;
  height: 0;
  width: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-state-tap {
  .noUi-connect, .noUi-origin {
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  }
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */

.noUi-base, .noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Slider size and handle placement;
 */

.noUi-horizontal {
  height: 10px;
  .noUi-handle {
    width: 34px;
    height: 28px;
    left: -17px;
    top: -10px;
  }
}

.noUi-vertical {
  width: 18px;
  .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px;
  }
}

/* Styling;
 */

.noUi-target {
  background: #DDD;
  border-radius: 4px;
}

.noUi-connect {
  background: $brand-primary;
  border-radius: 4px;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

/* Handles and cursors;
 */

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */

.noUi-handle {
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    left: 14px;
    top: 6px;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    left: 14px;
    top: 6px;
    left: 17px;
  }
}

.noUi-vertical .noUi-handle {
  &:before {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px;
  }
  &:after {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px;
    top: 17px;
  }
}

/* Disabled state;
 */

[disabled] {
  .noUi-connect {
    background: #B8B8B8;
  }
  &.noUi-target, &.noUi-handle, .noUi-handle {
    cursor: not-allowed;
  }
}

/* Base;
 *
 */

.noUi-pips {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  position: absolute;
  color: #999;
}

/* Values;
 *
 */

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub, .noUi-marker-large {
  background: #AAA;
}

/* Horizontal layout;
 *
 */

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}

.noUi-marker-horizontal {
  &.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
  }
  &.noUi-marker-sub {
    height: 10px;
  }
  &.noUi-marker-large {
    height: 15px;
  }
}

/* Vertical layout;
 *
 */

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  padding-left: 25px;
}

.noUi-marker-vertical {
  &.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
  }
  &.noUi-marker-sub {
    width: 10px;
  }
  &.noUi-marker-large {
    width: 15px;
  }
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  top: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}