// Defaults

$transition-fade:        opacity .15s linear;

@mixin transition($property, $duration, $timing, $delay) {
  -webkit-transition: $property $duration $timing $delay;
  -moz-transition:    $property $duration $timing $delay;
  -o-transition:      $property $duration $timing $delay;
  transition:         $property $duration $timing $delay;
}

@mixin transition($transition...) {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
}

.nano-full-width {
  width: 100% !important;
}

.nano-lg-width {
  width: 1140px !important;
}

.nano-left {
  padding: 10px 0;
  margin: 0 2% 0 0;
  display: inline-block;
}

.nano-left input {
  margin-left: 10px;
}

.nano-clear {
  width: 60%;
}

#setting_krown_idp_featured .description {
  margin-bottom: 10px;
}

.fade {
  opacity: 0;
  @include transition($transition-fade);

  &.show {
    opacity: 1;
  }
}

// Responsive Admin Tables

@media screen and (min-width: 782px) {

  .wrap.responsive {

    table {
      //width: 100%;
      //max-width: 100%;
      margin-bottom: 0;
      overflow: hidden;
      overflow-x: scroll;
      display: block;
      white-space: nowrap;

      &.striped {
        tfoot th {
          height: 30px;
          vertical-align: top;
        }
      }
    }
  }

}

@media screen and (max-width: 782px) {

  .tablenav.top .actions {
    display: block;
  }

}


// Imports
.edit-post-layout__content {
  @import "../scss/admin_imports";
}


/*------------------------ Primary Brand Colors
--------------------------------------------------------------*/
$brand-primary:   theme-color("primary");
$brand-secondary: theme-color("secondary");