*, ::before, ::after {
    box-sizing: border-box;
}

.row, .nano-project-image .image_swap, .nano-upload .image_swap {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;

}

.pb-2, .modal .form-control-feedback, .py-2 {

    padding-bottom: 0.5rem !important;

}
.d-flex {

    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;

}

.col-md-6 {

    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

}
.col-1, .col-2, .col-3, .col-4, .col-5, .cr-slider-wrap, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .nano-project-image .custom-file, .nano-upload .custom-file, #idc_checkout_extra_fields_anon, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .memberdeck.checkout-wrapper #loginform p.login-username, .memberdeck.checkout-wrapper #loginform p.login-password, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, footer .span3, .memberdeck.checkout-wrapper #loginform p, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;

}

.card {

    box-shadow: 0 0 30px rgba(0,0,0,.1);
    -webkit-transition: box-shadow ease 500ms;
    transition: box-shadow ease 500ms;

}



.mb-2, .my-2 {

    margin-bottom: 0.5rem !important;

}

.bg-white {

    background-color: #fff !important;

}

.card {

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: 0;
}

.card .card-link {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;

}

.card-body, .card-footer {

    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 5px;

}

a {
    color: #FFB400;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    target: _blank;
}

.card {
    font-family: "Lato",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.62;
    color: #36404a;
    text-align: left;
}

.card {
    box-shadow: 0 0 30px rgba(0,0,0,.1);
    -webkit-transition: box-shadow ease 500ms;
    transition: box-shadow ease 500ms;
}

small, .small, .error-info {
    font-size: 80%;
    font-weight: 300;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.card-text:last-child {
    margin-bottom: 0;
}

.title.text-uppercase.heading-normal {
    display: none;
}

.col-sm-12.p-0.pb-2 {
    padding: 10px;
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: .4rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #d7dee4;
    border-radius: 0;
}

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #FFB400;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
    font-size: 75%;
}

.card-img-top {

    width: 100%;
    border-top-left-radius: calc(0 - 0px);
    border-top-right-radius: calc(0 - 0px);

}

.img-fluid, .project_image, .memberdeck.checkout-wrapper #stripe-input img {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.btn:not(:disabled):not(.disabled), .memberdeck.checkout-wrapper .payment-type-selector a:not(:disabled):not(.disabled), .memberdeck.checkout-wrapper #loginform p #wp-submit:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn, .memberdeck.checkout-wrapper .payment-type-selector a, .memberdeck.checkout-wrapper #loginform p #wp-submit {
    padding-left: 3rem;
    padding-right: 3rem;
}
.text-white, .btn-primary, .memberdeck.checkout-wrapper #loginform p #wp-submit {
    color: #fff !important;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-primary, .memberdeck.checkout-wrapper #loginform p #wp-submit {
    color: #171c20;
    background-color: #FFB400;
    border-color: #FFB400;
}
.btn, .memberdeck.checkout-wrapper .payment-type-selector a, .memberdeck.checkout-wrapper #loginform p #wp-submit {
    display: inline-block;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .8rem 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: .875rem;
    line-height: 1.25;
    border-radius: 2px;
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.btn-primary:hover, .memberdeck.checkout-wrapper #loginform p #wp-submit:hover {
    color: #171c20;
    background-color: #d99900;
    border-color: #cc9000;
}